body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana
    text-align:center;
}
.maindiv {
    background-color: white;
    color: black;
    width:500px;
    text-align:left;
    margin:auto auto;
    padding:20px;
    border-radius: 25px;
    line-height:2em;
}

footer{
    text-align:center;
    padding: 5px;
}
